force-app/recipes/flows/Close_Request_if_All_Related_Items_are_Closed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <isTemplate>true</isTemplate>
    <decisions>
        <name>Is_Related_Item_Closed</name>
        <label>Related Item Is Closed</label>
        <locationX>352</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Is not Closed</defaultConnectorLabel>
        <rules>
            <name>Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Loop_over_other_records_related_to_request.Is_Related_Item_Closed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Loop_over_other_records_related_to_request</targetReference>
            </connector>
            <label>Is Closed</label>
        </rules>
    </decisions>
    <interviewLabel
  >Close Request if All Related Items are Closed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sample] Close Request if All Related Items are Closed</label>
    <loops>
        <description
    >Check if another related record is a Case record.</description>
        <name>Loop_over_other_records_related_to_request</name>
        <label>Loop over other records related to request</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_All_Related_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Related_Item_Closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Request</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Items</name>
        <label>Get All Related Items</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Request_Related_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SvcCatalogRequestId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SvcCatalogRequestId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SvcCatalogReqRelatedItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Related_Item_Closed__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description
    >Check if this case is part of any parent Request records</description>
        <name>Get_Request_Related_to_Case</name>
        <label>Get Request Related to Case</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Loop_over_other_records_related_to_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedInternalRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SvcCatalogReqRelatedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request</name>
        <label>Update Request</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SvcCatalogRequestId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsClosed</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SvcCatalogRequest</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Items</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Related_Item_Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SvcCatalogReqRelatedItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
