force-app/recipes/flows/Create_Two_Cases_by_Assignment_Rule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_first_Case_to_Request</name>
        <label>Add first Case to Request</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Case_1.SvcCatalogRelatedRecordIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_second_Case_to_Request</name>
        <label>Add second Case to Request</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Case_2.SvcCatalogRelatedRecordIDs</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Calls the &quot;Create Case by Assignment Rule&quot; flow twice, using the same Description for each.</description>
    <interviewLabel>Create Two Cases By Assignment Rule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sample] Create Two Cases By Assignment Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Case_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Case_1</name>
        <label>Create Case 1</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Add_first_Case_to_Request</targetReference>
        </connector>
        <flowName>Create_Case_Assigned_With_Assn_Rules</flowName>
        <inputAssignments>
            <name>Input_AccountId</name>
            <value>
                <elementReference>Input_AccountId_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_AssignmentRuleName</name>
            <value>
                <elementReference>Input_AssignmentRule_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Description</name>
            <value>
                <elementReference>Input_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Origin</name>
            <value>
                <elementReference>Input_Origin_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Priority</name>
            <value>
                <elementReference>Input_Priority_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_RecordTypeApiName</name>
            <value>
                <elementReference>Input_RecordTypeApiName_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Status</name>
            <value>
                <elementReference>Input_Status_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Subject</name>
            <value>
                <elementReference>Input_Subject_1</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Case_2</name>
        <label>Create Case 2</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Add_second_Case_to_Request</targetReference>
        </connector>
        <flowName>Create_Case_Assigned_With_Assn_Rules</flowName>
        <inputAssignments>
            <name>Input_AccountId</name>
            <value>
                <elementReference>Input_AccountId_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_AssignmentRuleName</name>
            <value>
                <elementReference>Input_AssignmentRule_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Description</name>
            <value>
                <elementReference>Input_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Origin</name>
            <value>
                <elementReference>Input_Origin_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Priority</name>
            <value>
                <elementReference>Input_Priority_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_RecordTypeApiName</name>
            <value>
                <elementReference>Input_RecordTypeApiName_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Status</name>
            <value>
                <elementReference>Input_Status_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Subject</name>
            <value>
                <elementReference>Input_Subject_2</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Input_AccountId_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_AccountId_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_AssignmentRule_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_AssignmentRule_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Origin_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Origin_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Priority_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Priority_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The api name of a record type to use for the case record.</description>
        <name>Input_RecordTypeApiName_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The api name of a record type to use for the case record.</description>
        <name>Input_RecordTypeApiName_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Status_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Status_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Subject_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Subject_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds records created by this flow, to be automatically attached to the Request record.</description>
        <name>SvcCatalogRelatedRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
