force-app/recipes/flows/Create_Case_Assigned_With_Assn_Rules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls apex to create a case assigned using active assignment rules.</description>
        <name>Create_Case_With_Assignment_Rule</name>
        <label>Create Case With Assignment Rule</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <actionName>CaseCreationUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Case_to_Request</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ruleName</name>
            <value>
                <elementReference>Input_AssignmentRuleName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseRecord</name>
            <value>
                <elementReference>Var_Case_Record</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Add the Case Id to SvcCatalogRelatedRecordIDs output variable, so the Case will be associated with the Request.</description>
        <name>Add_Case_to_Request</name>
        <label>Add Case to Request</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Case_With_Assignment_Rule</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Add the input fields to a Case record</description>
        <name>Assign_Case_Field_Values</name>
        <label>Assign Case Field Values</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>Var_Case_Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Case_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Case_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Case_Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Case_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Case_Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_for_Current_User.RelatedPerson.PersonContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_With_Assignment_Rule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_User_Account_Id</name>
        <label>Assign Current User Account Id</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Input_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employee_for_Current_User.RelatedPerson.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decide_Need_to_Retrieve_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Id</name>
        <label>Assign Record Type Id</label>
        <locationX>264</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Var_Case_Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Field_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This flow supports passing in an Account Id as the owner for the Case. But if none was passed in, we&apos;ll assume this Case is being created by a Community User. In that case, we need to retrieve the current user&apos;s related ContactId and AccountId.</description>
        <name>Decide_Need_to_Retrieve_Contact</name>
        <label>Decide Need to Retrieve Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Employee_for_Current_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Input_Account not found</defaultConnectorLabel>
        <rules>
            <name>Input_Account_is_valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_AccountId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decide_Need_to_Retrieve_Record_Type</targetReference>
            </connector>
            <label>Input_Account is valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>This flow supports passing in a Record Type to be used when creating the Case. But if none was passed in, we&apos;ll leave the field empty and let the organization&apos;s default values be used.</description>
        <name>Decide_Need_to_Retrieve_Record_Type</name>
        <label>Decide Need to Retrieve Record Type</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Input_RecordTypeApiName_is_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_RecordTypeApiName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_RecordTypeApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Field_Values</targetReference>
            </connector>
            <label>Input_RecordTypeApiName is empty</label>
        </rules>
    </decisions>
    <description>Uses an Apex utility to create a case assigned using either a given assignment rule name, or if no name provided, uses the default active assignment rule.</description>
    <interviewLabel>Create Case Assigned Via Rules {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[Sample] Create Case with Assignment Rule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Employee_for_Current_User</name>
        <label>Get Employee for Current User</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_User_Account_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve the record type id that has the developer name Input_RecordTypeApiName</description>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>264</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_RecordTypeApiName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_Need_to_Retrieve_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The name of an assignment rule to use to assign the new Case. If none specified, default assignment rule will be used.</description>
        <name>Input_AssignmentRuleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The api name of a record type to use for the case record.</description>
        <name>Input_RecordTypeApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output variable, passes created record ids to Service Catalog Framework, so they can be related to the Request record.</description>
        <name>SvcCatalogRelatedRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable for the Case record this flow creates, to pass to Apex</description>
        <name>Var_Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
