force-app/recipes/flows/item_1641510574210_RequestforShipping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Attach_additional_relocation_information_docId_assignment</name>
        <label>Attach_additional_relocation_information_docId_assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Attach_additional_relocation_information_docId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attach_additional_relocation_information_loopVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SvcCatalogAttachedContentDocIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Attach_additional_relocation_information_loopVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attach_additional_relocation_information_loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>org_base_url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_530}, FIND(&apos;/services/&apos;, {!$Api.Partner_Server_URL_530}))</expression>
    </formulas>
    <label>[Sample] Request Shipping</label>
    <loops>
        <name>Attach_additional_relocation_information_loop</name>
        <label>Attach_additional_relocation_information Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>Attach_additional_relocation_information_loopVar</assignNextValueToReference>
        <collectionReference>Attach_additional_relocation_information_docIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attach_additional_relocation_information_docId_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfillment_Flow_Subflow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>ServiceCatalogItemFlow</processType>
    <screens>
        <name>additional_questions</name>
        <label>[Sample] Request Shipping Questions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Attach_additional_relocation_information_loop</targetReference>
        </connector>
        <fields>
            <name>Person_to_Ship_To</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldText>Addressee</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Addressee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_Needed_By</name>
            <dataType>DateTime</dataType>
            <fieldText>Date Needed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_for_Notifications</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldText>Email Notifications To</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Notifications To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_address_information_exactly_as_it_will_appear_on_the_printed_label</name>
            <fieldText>The address is used for the printed label.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attach_additional_relocation_information</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldText>Attach additional relocation information</fieldText>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach additional relocation information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Attach_additional_relocation_information_docIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>additional_questions</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Fulfillment_Flow_Subflow</name>
        <label>Fulfillment Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Create_Case_by_Record_Type</flowName>
        <inputAssignments>
            <name>Input_Description</name>
            <value>
                <stringValue>Addressee
{!Person_to_Ship_To.recordName} {!org_base_url}{!Person_to_Ship_To.recordId}

Date Needed By
{!Date_Needed_By}

Email Notifications To
{!Email_for_Notifications.value}

The address is used for the printed label.

Address
{!Address}

Attach additional relocation information
{!org_base_url}{!Attach_additional_relocation_information_docId}

</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_RecordTypeApiName</name>
            <value>
                <stringValue>Workplace_Services</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Origin</name>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Priority</name>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Status</name>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Input_Subject</name>
            <value>
                <stringValue>Request for Shipping Services</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Attach_additional_relocation_information_docId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Attach_additional_relocation_information_docIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Attach_additional_relocation_information_loopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SvcCatalogAttachedContentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
