force-app/dev-recipes/flows/Testing_Approval_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Create_Approval_Request_Record</name>
        <label>Create Approval Request Record</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>ApprovalRequest.Requester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApprovalRequest.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Approval_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approved_0</name>
        <label>Set Approved</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>IsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Not_Approved</name>
        <label>Set Not Approved</label>
        <locationX>336</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>IsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ApprovedRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>RejectedRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_Approved_Decision</name>
        <label>Is Approved Decision</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Set_Not_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
                >Get_Approval_Request_Status.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ApprovedRequest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_0</targetReference>
            </connector>
            <label>Is Approved</label>
        </rules>
    </decisions>
    <interviewLabel
    >Testing Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sample] Testing Approval Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Approval_Request</name>
        <label>Create Approval Request</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Wait_for_emergency_approval</targetReference>
        </connector>
        <inputReference>ApprovalRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Approval_Request_Status</name>
        <label>Get Approval Request Status</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Approved_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ApprovalRequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Urgent_Request_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Approval_Request_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Urgent_Request_Approval__c</objectType>
    </variables>
    <variables>
        <name>ApprovalRequestCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Approver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_for_emergency_approval</name>
        <label>Wait for emergency approval</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Not_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Approved_Request</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Approval_Request_Status</targetReference>
            </connector>
            <eventType>Request_Approval__e</eventType>
            <inputParameters>
                <name>RequesterId__c</name>
                <value>
                    <elementReference
                    >ApprovalRequest.Requester__r.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>RequestId__c</name>
                <value>
                    <elementReference>ApprovalRequest.Id</elementReference>
                </value>
            </inputParameters>
            <label>Approved Request</label>
        </waitEvents>
    </waits>
</Flow>
