force-app/dev-recipes/flows/Testing_Create_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Related_Case_to_Request</name>
        <label>Related Case to Request</label>
        <locationX>416</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Create_Case_with_Description</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel
  >Testing Create Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sample] Testing Create Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_with_Description</name>
        <label>Create Case with Description</label>
        <locationX>656</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Related_Case_to_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Testing Create Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Additional_Questions</name>
        <label>Additional Questions</label>
        <locationX>656</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_with_Description</targetReference>
        </connector>
        <fields>
            <name>CaseDescriptionInput</name>
            <fieldText>&lt;p&gt;{!CaseDescription}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>530</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Additional_Questions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SvcCatalogRelatedRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
